.vs/
bin\
*.suo
*.dll
*.pdb
*.cache

bin/Debug/net7.0/TerriblePrograma.runtimeconfig.json
bin/Debug/net7.0/TerriblePrograma.exe
bin/Debug/net7.0/TerriblePrograma.deps.json
.vs/TerriblePrograma/DesignTimeBuild/.dtbcache.v2
